/*全局样式*/
html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 16px;
}
/*22.重置卡片的基础样式 !important增加权重*/
.el-card{
  box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-form{
  margin-top: 20px;
}
